<!--The content below is only a placeholder and can be replaced.-->
<header class="
pl-3 py-1 header_background">
  <h1>Nickstabadet</h1>
  <p>Ett soligt sommarbad</p>
</header>
<nav class="navbar navbar-expand-md navbar-light bg-white">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="home">Hem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Kontakt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="status">Väder</a>
    </li>
  </ul>
</nav>
<!-- Ersätts av innehållet i routingen-->
<router-outlet></router-outlet>
<hr>
<footer class="text-center">
  vill du veta mer? skicka e-post till
  <a href="mailto:jakob.lindahl@yh.nackademin.se">fredrik.frolund@live.se</a>
</footer>
