<div class="container">
    <div class="row">
      <div class="card border border-primary col-md-3 offset-md-1 mt-4 order-md-2 d-none d-sm-block">
        <div class="card-body">
          <article>
            <header>
              <h3 class="text-center">Galleria</h3>
            </header>
            <div class="media mx-auto">
              <figure class="text-center">

                <img class="img-responsive img-fluid" src="assets/images/galleria/waterpark.jpg" alt="waterpark">

                <img class="img-responsive img-fluid" src="assets/images/galleria/tower.jpg" alt="tower">

                <img class="img-responsive img-fluid" src="assets/images/galleria/beach.jpg" alt="beach">

              </figure>
            </div>
          </article>
        </div>
      </div>
      <div class="card border border-primary col-md-8 mt-4 order-md-1">
        <div class="card-body">
          <header>
            <h3>Nicksta</h3>
          </header>
          <article>
            <h4>Bo nära Nynäshamns populära havsbad</h4>
            <div class="media">
              <figure>
                <img class="" src="assets/images/camping.jpg" width="80" height="80" alt="camping">
                <figcaption>Havs capmping</figcaption>
              </figure>
              <div class="media-body">
                <p>Campingplatsen ligger vid Nickstabadet, Nynäshamns populära havsbad med stor fin sandstrand.
                </p>
                <p>
                  Här finns 130 campingtomter för husvagnar, husbilar och tält, samt 28 stugor för dig som kommer utan eget boende men ändå
                  vill njuta av anläggningens service och utbud.
                </p>
              </div>
            </div>
          </article>
          <article>
            <header>
              <h4>Plaska, åk vattenrutschbana, hyr kanot</h4>
            </header>
            <div class="media">
              <figure>
                <img class="" src="assets/images/kanot.jpg" width="80" height="80" alt="kanot">
                <figcaption>Havs capmping</figcaption>
              </figure>
              <div class="media-body">
                <p>Vid stranden finns brygga med hopptorn, lång vattenrutschbana och du kan hyra kanot och kajak. Minigolf,
                  kiosk, grill och glassbar finns också här, samt restaurang med rättigheter. Trubadurkvällar anordnas också.
                </p>
                <p>
                  Härifrån är det 700 meter till pendeltågstation (hpl Nynäsgård) med 55 minuters restid till Stockholms centralstation. Ca
                  10 min promenad till Nynäshamns centrum för shopping och många restauranger och för båtar till Gotland,
                  Lettland, Polen och omkringliggande skärgård. Sommartid finns gott om intressanta utflyktsmöjligheter i
                  omgivningarna.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>